<h1>
    login 
</h1>
<h2>
   <p>{{message}}</p> 
</h2>
<div>
    <form action='/api/session/testLogin' method='post'>
        <label for ='email'>Email:</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="" />
        <button type="submit" id="ingreso">enviar</button> 
    </form>
</div>